<!DOCTYPE HTML>
<html>


<head>
  <style>
    body {
      background-color: white;
      background-image: url("albert-einstein-02.jpg");
    }
  <title>Unit Converter</title>
 <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  </style>
</head>
  
<body>
    <h1>Unit Converter</h1>
  <form action="/result" method="POST" >
    
    <div id="inputu">
      <h3>Units In</h3>
      <select name="unitin">
        <option name="nanometer" value=".000000001">nanometer</option>
        <option name="micrometer" value=".000001">micrometer</option>
        <option name="millimeters" value=".001">millimeters</option>
        <option name="centimeters" value=".01">centimeters</option>
        <option name="decimeter" value=".1">decimeter</option>
        <option name="meters" value="1">meters</option>
        <option name="kilometers" value="1000">kilometers</option>
        <option name="megameters" value="1000000">megameters</option>
        <option name="gigameters" value="1000000000">gigameters</option>
      </select>
      
</div>
    
    <div id="inputo">
      <h3>Units Out</h3>
        <select name="unitout">
          <option name="nanometer" value=".000000001">nanometer</option>
          <option name="micrometer" value=".000001">micrometer</option>
          <option name="millimeters" value=".001">millimeters</option>
          <option name="centimeters" value=".01">centimeters</option>
          <option name="decimeter" value=".1">decimeter</option>
          <option name="meters" value="1">meters</option>
          <option name="kilometers" value="1000">kilometers</option>
          <option name="megameters" value="1000000">megameters</option>
          <option name="gigameters" value="1000000000">gigameters</option>
        </select>
    </div>
    
    
    <div id="input">
      <h4>Number To Convert</h4>
        <input type="text" name="input">
        <input type="submit" value="submit">
    </div>      
  </form>
  <!--<img src:"http://d3u5xmnnxiuz0w.cloudfront.net/wp-content/uploads/2014/01/albert-einstein-02.jpg">-->
</body>
  
</html>