  
  <!DOCTYPE HTML>

<html>
<head>
<style>
	body {
		    background-image: url(<%= @gif %>);
		}
		div {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}
  #result {
    
  }
 </style>
</head>
<div>
	<img src="http://i.giphy.com/tJW2EtfYWyABG.gif" />
</div>

  
  <body>
  <div id="result">
  <h1>Result<h1>
  
  <h2> <%= @output%> </h2>
    </div>
</body>
</html>